body,li,ul,p,pre,h1,h2,h3,h4,h5,h6, th, td,input,b,i,dd,dt,dl{
	padding:0;
	margin: 0;
	list-style:none;
    font-style: normal;
}
body{
    font-family: "微软雅黑";
    font-size: 12px;
}
img{
	border: 0;
}
a,em,s{
	text-decoration: none;
    font-style: normal;
    color: #333;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.mg-com{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*顶部*/
a:hover{
	color: #CC0000;
}
.gome-top {
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    height: 30px;
    color: #5e5e5e;
    z-index: 999;
}
#gome-top-body {
    position: relative;
    background: #f8f8f8;
    height: 30px;
    border-bottom: 1px solid #f3f3f3;
    _border-bottom: 0;
}
.wbox {
    width: 1200px;
    margin: 0 auto;
}
#gome-user {
    margin-right: 12px;
}
#gome-user b {
    color: #5e5e5e;
}
.gome-top li {
    float: left;
    position: relative;
    font: 400 12px/30px Arial;
}
.gome-top b {
    _float: left;
    font-weight: 400;
    display: block;
    padding: 0 20px 0 10px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    color: #888;
}
.gome-top b i {
    position: absolute;
    top: 12px;
    right: 8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
.gome-top li.hover b a {
    color: #c00;
}
.gome-top a:hover {
    color: #c00;
    text-decoration: none;
}
.gome-top li.hover b {
    border-color: #e6e6e6;
    background: #fff;
    color: #c00;
    cursor: default;
    z-index: 10;
    position: relative;
}
.gome-top .public-dropdown {
    position: absolute;
    top: 30px;
    width: 320px;
    height: 216px;
    background: #fff;
    height: 0;
    left: 0;
    display: none;
    z-index: 50;
    border: 1px solid #F8F8F8;
}
#gome-user .public-dropdown {
    width: 322px;
    height: 216px;
    background: #fff;
    border: 1px solid #F8F8F8;
}
#user-name {
    padding: 5px 0 20px;
    _height: 100%;
    overflow: hidden;
}
.gome-top i, .gome-top em {
    background: url(../image/ui.png);
    display: inline-block;
    vertical-align: middle;
}
#user-name i, #user-name i img {
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
#user-name i {
    background-position: 0 -337px;
}
#user-name div {
    float: left;
    font: 400 12px/20px Arial;
    padding: 0 0 0 15px;
    width: 220px;
}
#user-name p {
    color: #888;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
}
#user-name .user-name-login {
    padding-top: 20px;
}
#user-name .user-name-login a {
    color: #069;
}
#user-icon {
    width: 290px;
    border-top: 1px solid #f3f3f3;
    padding-top: 15px;
    padding-left: 10px;
    position: relative;
    _height: 100%;
}
#user-icon p {
    line-height: 18px;
}
.gome-top a {
    color: #888;
}
#user-icon .user-icon-prev, #user-icon .user-icon-next {
    position: absolute;
    top: 54px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    background: url(../image/ui.png) -60px -357px;
    display: inline-block;
}
#user-icon .user-icon-prev {
    left: 0;
}
#user-icon .user-icon-next {
    right: 0;
    background-position: -76px -357px;
}
#user-icon p a:hover, #user-icon p span {
    color: #c00;
}
#user-icon p a {
    float: right;
    color: #ccc;
}
.gmhylb{
    visibility: visible;
    overflow: hidden; 
    position: relative; 
    z-index: 2; 
    left: 0px; 
    width: 240px;
}
#user-icon div {
    margin: 10px 25px 0;
}
#user-icon ul {
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 1; 
    width: 720px; 
    left: 0px;
}
.gome-top li {
    float: left;
    position: relative;
    font: 400 12px/30px Arial;
}
.gome-top li li {
    margin: 0;
}

#user-icon li {
    width: 80px;
    text-align: center;
    overflow: hidden;
    float: left;
    width: 80px;
    height: 70px;
}
#user-icon li a {
    color: #999;
}
#user-icon i {
    display: block;
    height: 40px;
    opacity: .7;
    background: 0 0;
    font-size: 40px;
    line-height: 40px;
}
#gome-mygome .public-dropdown {
    width: 260px;
    padding: 0;
    border: 1px solid #F8F8F8;
}
#gome-mygome li, #gome-mygome p, #gome-mygome strong {
    font: 12px/24px Arial;
    color: #888;
    background: #fff;
}
#gome-mygome strong {
    display: block;
    font-weight: 700;
    padding: 10px 10px 0;
}
#gome-mygome strong a {
    color: #069;
}
#mygome-order {
    padding: 0 0 9px;
    padding: 0 10px;
    border-bottom: 1px solid #f3f3f3;
    _height: 100%;
    overflow: hidden;
    background: #fff;
}
#gome-mygome li, #gome-mygome p, #gome-mygome strong {
    font: 12px/24px Arial;
    color: #888;
}
#mygome-order li {
    float: left;
    width: 50%;
    line-height: 25px;
    height: 25px;
}
#mygome-coupon li {
    float: left;
    width: 63px;
    text-align: center;
    padding: 10px 0 10px;
}
#mygome-coupon a {
    display: block;
    line-height: 14px;
    margin: 5px 0;
    border-right: 1px solid #f3f3f3;
}
#mygome-order #redCoupon, #mygome-coupon #redCoupon {
    display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#mygome-coupon #redCoupon {
    width: 100%;
    margin: 0;
}
#gome-mygome li, #gome-mygome p, #gome-mygome strong {
    font: 12px/24px Arial;
    color: #888;
}
#gome-mygome p {
    clear: both;
    background: #f8f8f8;
    padding: 10px;
    overflow: hidden;
}
#mygome-track {
    background: #f8f8f8;
    padding: 0 0 18px 10px;
    height: 50px;
    overflow: hidden;
}
#mygome-track li {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 12px 10px 0;
    background: url(../image/ui.png) 0 -397px;
}
#gome-service .public-dropdown {
    padding: 10px 15px;

    width: 210px;
    height: 190px;
    padding-top: 0;
    border: 1px solid #C9C8C8;
}
/*#gome-service .public-dropdown {
    padding: 10px 15px;
}*/
#gome-service p {
    font: 700 12px/24px Arial;
    color: #898989;
    background: #FFF;
}
#gome-service ul {
    padding: 0 0 10px;
    height: 48px;
    overflow: hidden;
    background: #FFF;
}
#gome-service li {
    float: left;
    font: 12px/24px Arial;
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-service .live800-service {
    color: #fff;
    background: #c00;
    text-align: center;
    display: block;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 4px;
    position: relative;
}
#gome-service .live800-service{
    position: relative;
}
#gome-service .live800-service img {
    position: absolute;
    top: 0;
    left: 70px;
    color: #fff;
    z-index: 5555;
    margin-top: 3px;
}
#gome-service .live800-service span{
    position: absolute;
    margin-top: 5px;
    top: -3px;
    left: 100px;
}
#gome-sitemap .public-dropdown {
    position: absolute;
    top: 31px;
    left: -1000px;
    width: 1198px;
    height: 250px;
    border: 1px solid #E6E6E6;
}
#gome-sitemap dl {
    float: left;
    padding: 0 15px 0 40px;
    border-left: 1px solid #f3f3f3;
    margin: 15px 0;
    background: #fff;
}
#gome-sitemap dl.none {
    border: none;
}
#gome-sitemap dt {
    font-size: 14px;
    font-weight: bold;
    *line-height: 16px;
    margin: 14px 0 14px;
}
#gome-sitemap dd {
    overflow: hidden;
    min-height: 120px;
}
#gome-sitemap ul {
    float: left;
    width: 75px;
}
#gome-sitemap li {
    width: 100%;
    text-align: left;
    font: 12px/24px Arial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-phone .public-dropdown {
    padding: 15px;
    width: 132px;
    height: 172px;
    left: auto;
    right: 0;
    border: 1px solid #E6E6E6;
}
#gome-phone .public-dropdown .righ{
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    left: auto;
    width: 162px;
    height: 202px;
}
.gome-top li#gome-phone.hover .public-dropdown {
    background: #FFF;
    padding: 15px;
}
#gome-phone .public-dropdown a {
    display: block;
    /*padding: 15px;*/
    width: 130px;
    margin: 15px auto;
    height: 170px;
    background: url(../image/ui.png) 0 -799px;

}
.gome-top a {
    color: #888;
}
.gome-top a {
    color: #888;
}
.gome-top i{
    background: url(../image/ui.png);
    display: inline-block;
    vertical-align: middle;
}
.gome-link {
    line-height: 33px;
    height: 30px;
    overflow: hidden;
    margin: 0;
}
.gome-link a {
    margin-right: 10px;
    line-height: 32px;
}
#gome-top-right {
    float: right;
}
.gome-top li.gome-spacer {
    width: 1px;
    height: 11px;
    margin: 10px 0 0;
    padding: 0;
    background: #e6e6e6;
    overflow: hidden;
}
#gome-service b em {
    font-size: 19px;
    color: #e3101e;
    background: 0 0;
    line-height: 21px;
    height: 30px;
    top: 0;
}
#gome-service b .gm-icon img{
	position: absolute;
	top: 6px;
	left: 10px;
	width: 20px;
	height: 20px;
}
#gome-service b a{
	margin-left: 26px;
}
#gome-phone b .gm-icon img{
	position: absolute;
	top: 6px;
	left: 10px;
	width: 20px;
	height: 20px;
}
#gome-phone b a{
	margin-left: 26px;
}
/*topda*/
.topad{
    position: relative;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}
.close{
    position: absolute;
    display: block;
    padding: 6px;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
/*logo*/
#logoz{
    position: relative;
    height: 90px;
    vertical-align: middle;
    z-index: 980;
    overflow: hidden;
}
#logo {
    float: left;
    margin: 20px 20px 0 0;
}
#logo a {
    display: block;
    width: 168px;
    height: 50px;
    background: url(../image/ui.png) 0 -969px;
    text-indent: -99px;
    overflow: hidden;
}
#logo-gif {
    float: left;
    margin: 20px 0 0;
}
.searchtop {
    position: absolute;
    width: 500px;
    top: 20px;
    left: 385px;
    z-index: 91;
}
#searchtopl{
    border: 2px solid #e3101e;
    position: relative;
    font-size: 14px;
    height: 30px;
    background: #fff;
}
#searchtopl label {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color: #666;
    width: 83%;
    color: #A5A5A5;
    cursor: text;
}
#searchtopl .text {
    border: 0;
    width: 365px;
    padding: 5px 5px 5px 10px;
    line-height: 20px;
    float: left;
    font-size: 14px;
    font-family: arial;
    color: #5E5E5E;
    background-color: transparent;  
    outline: medium;
}
#searchtopl .button{
    width: 72px;
    height: 30px;
    border: none;
    cursor: pointer;
    float: right;
    display: inline;
    background: #e3101e;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-indent: 0;
    text-align: center;
    line-height: 30px;
}
#searchtop .searchbottom{
    margin: 6px 0 0;
    color: #A5A5A5;
    overflow: hidden;
    line-height: 14px;
    height: 14px;
}
#searchtop .searchbottom a:hover {
    color: #C00;
    text-decoration: none;
}
#searchtop .searchbottom a {
    display: inline-block;
    margin-right: 5px;
    line-height: 14px;
    color: #A5A5A5;
}
#searchtop .searchbottom .highlight{
    color: #C00;
}
.mygome-side {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 92;
    width: 240px;
}
.topmenu {
    float: right;
    display: inline;
}
.topmenu {
    position: relative;
}
.clearfix, .wbox {
    *zoom: 1;

}
.topmenu li {
    float: left;
    display: inline;
    vertical-align: middle;
}
.shopcartbox {
    position: relative;
}
.shopcartbox .cartlinkbox {
    display: inline-block;
}
.shopcartbox .cartlink {
    padding: 0 20px 0 45px;
    line-height: 34px;
    height: 34px;
    width: 75px;
}
.cartlinkbox .menulink {
    border: none;
    margin: 1px;
}
.i-cart {
    position: absolute;
    width: 27px;
    height: 20px;
    background: url(../image/ui.png) -100px -701px;
    top: 6px;
    left: 10px;
}
.shopnum {
    position: absolute;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    top: -18px;
    min-width: 14px;
    _width: 14px;
    text-align: center;
    left: 15px;
    background-color: #A5A5A5;
    color: #FFF;
    font-weight: 700;
}
.shopnum i {
    position: absolute;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-color: transparent transparent transparent #A5A5A5;
    border-right: 0;
    border-left-style: solid;
    overflow: hidden;
    bottom: -4px;
    left: 5px;
}
.cartlinkbox .menulink b {
    top: 15px;
    right: 10px;
    border: 4px dashed transparent;
    border-color: #5E5E5E transparent transparent;
    border-bottom: 0;
    border-top-style: solid;
    top: 10px;
    right: 10px;
    overflow: hidden;
    line-height: 34px;
}
/*banner*/
.category-box {
    height: 40px;
    border-bottom: none;
}
.bannerztop{
    height: 40px;
    border-bottom: none;
}
.sidecategory {
    position: relative;
    z-index: 995;
}
.sidecategory h2 {
    height: 40px;
    border-bottom: none;
    position: relative;
    z-index: 100000;
}
.sidecategory h2 {
    width: 200px;
    height: 38px;
    background: #333;
    float: left;
    opacity: .9;
    filter: Alpha(opacity=90);
}
.sidecategory h2 a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
    font-weight: 700;
    float: left;
}
.sidecategory .lisbg {
    width: 200px;
    height: 450px;
    color: #333;
    background: #595959;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.sidecategory .lisbg {
    background: #333;
    opacity: .9;
    filter: Alpha(opacity=90);
}
.category .mainnav li.hide, .sidecategory .lisbg, .sidecategory .lisnav {
    display: block;
}
.sidecategory .lisnav-ul {
    position: relative;
    z-index: 9999;
}
.sidecategory .lisnav li {
    _height: 30px;
    _position: relative;
    _overflow: hidden;
}
.sidecategory .lisnav li.lst, .sidecategory .lisnav li.first {
    height: 29px;
    line-height: 29px;
    overflow: hidden;
}
.sidecategory .lisnav {
    width: 200px;
    height: 450px;
    position: absolute;
    top: 39px;
    left: 0;
    _left: -200px;
    display: none;
}
.sidecategory .lisnav li.first {
    margin-top: 1px;
}
.sidecategory .lisnav h3 {
    position: relative;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1px;
}
.sidecategory .lisnav h3 a {
    font-size: 14px;
    font-weight: 200;
    display: inline-block;
    *margin-right: 0;
    margin-right: 3px;
    color: #FFF;
}
.sidecategory .lisnav li:hover h3 a{
    color: #333;
}
.sidecategory .lisnav li:hover{
    background: #FFF;
}
.sidecategory .lisnav li h3 a:hover{
    color: #CC0000;
}
.category .mainnav li.hide, .sidecategory .lisbg, .sidecategory .lisnav {
    display: block;
}
.sidecategory .lisnav {
    top: 38px;
}
.sidecategory .subnav {
    background-color: #fff;
    min-height: 448px;
    _height: 448px;
    max-height: 515px;
    border-left: none;
    position: absolute;
    top: 0;
    left: 199px;
    z-index: 99;
    width: 1000px;
/*    display: none;*/
}
.loading1-sync {
    z-index: 1000;
    border: 1px solid #818181;
    min-height: 448px;
    max-height: 515px;
    width: 999px;
    *width: 999px;
    position: absolute;
    left: 0;
    background: #fff;
    _height: 515px;
}
.home .fullcategory, .home .loading1-sync {
    width: 999px;
}
.fullcategory-left {
    overflow: hidden;
    background: #fbfbfb;
    min-height: 448px;
    max-height: 515px;
    opacity: 1;
    filter: Alpha(opacity=100);
    float: left;
    width: 788px;
    _height: 515px;
}
.fullcategory-left {
    width: 789px;
}
.fullcategory-title {
    height: 20px;
    padding: 20px 0 7px 20px;
    overflow: hidden;
}
.fullcategory-title a {
    float: left;
    white-space: nowrap;
    height: 20px;
    background: #f67070;
    margin-right: 10px;
    padding: 0 5px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    font-family: simsun;
    _height: 16px;
    _padding-top: 4px;
}
.fullcategory-title i {
    display: inline-block;
    width: 5px;
    height: 7px;
    background: url(../image/ui.png) -70px -433px;
    margin-left: 6px;
    overflow: hidden;
    *vertical-align: middle;
}
.fullcategory-title a:hover{
    background: #C00;
}
.fullcategory-content {
    width: 362px;
    overflow: hidden;
    *padding-bottom: 5px;
    _width: 354px;
}
.fullcategory-list {
    width: 363px;
    margin: 11px 30px 0 -8px;
    _margin: 11px 30px 0 -8px;
    _width: 354px;
}
.fullcategory-list div {
    float: left;
}
.fullcategory-list .title {
    font-family: '新宋体 Arial';
    width: 61px;
    text-align: left;
    padding-left: 8px;
    margin-top: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #5e5e5e;
    height: 22px;
    line-height: 22px;
    _padding-left: 8px;
    _margin: 2px 0;
}
.fullcategory-list .list {
    width: 294px;
    margin-top: -14px;
    _margin: 14px;
    padding-top: 5px;
}
.fullcategory-list a {
    color: #5e5e5e;
    font-size: 12px;
    font-family: '新宋体 Arial';
    float: left;
    padding: 0 7px;
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
    border-left: 1px solid #e0e0e0;
    white-space: nowrap;
    display: inline-block;
}
.sidecategory{
    z-index: 10000000;
}
.fullcategory-list .list a:hover{
    color: #c00;
}
.fullcategory-list div {
    float: left;
}
.fullcategory-list .underline {
    width: 100%;
    border-bottom: solid 1px #f3f3f3;
    margin-bottom: 7px;
    height: 2px;
    overflow: hidden;
}
.fullcategory-right {
    width: 210px;
    min-height: 448px;
    max-height: 515px;
    background: #fff;
    float: left;
    position: relative;
    _height: 515px;
}
.brand {
    width: 200px;
    padding: 0 0 11px 10px;
    overflow: hidden;
    border-bottom: 1px solid #f4f4f4;
    _padding: 0 0 11px 10px;
}
.category-img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.brand-box {
    width: 200px;
    margin: 0 0 0 -2px;
    _margin: 0 0 0 -2px;
}
a {
    color: #333;
}
.brand-box a {
    display: inline-block;
    float: left;
}
.brand-box a img {
    display: block;
    margin: 20px 20px 0 10px;
    width: 70px;
    height: 35px;
}
.category-img img {
    display: inline-block;
    width: 210px;
    height: 180px;
}

.mainnav {
    float: left;
    height: 38px;
    width: 800px;
    overflow: hidden;
    position: relative;
}
.mainnav li {
    position: relative;
    float: left;
    padding: 0 18px;
    text-align: center;
    line-height: 38px;
    white-space: nowrap;
}
.mainnav li a {
    color: #000;
    font-size: 14px;
}
.tag_hot, .tag_new, .tag_fly, .tag_fuli{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 14px;
    width: 20px;
    background: url(../image/ui.png) -150px -721px;
}
.tag_fly {
    right: -8px;
    width: 28px;
    background-position: -215px -721px;
}
.tag_hot {
    background-position: -130px -721px;
}
.mainnav li a:hover{
    color: #CC0000;
}
.hdrsideRoll {
    float: right;
    position: relative;
    width: 194px;
    height: 40px;
    overflow: hidden;
}
.adnavside {
    position: absolute;
    top: 0;
    left: 13px;
    width: 160px;
    height: 38px;
    overflow: hidden;
}
.hd-clickscroll {
    width: 3000px;
    position: absolute;
    top: 0;
}
.hdrsRollbtn {
    position: absolute;
    top: 9px;
    right: 5px;
    width: 11px;
    height: 20px;
}
.hdrsRollbtn a {
    padding: 2px 1px;
    display: block;
    margin: 1px;
}
.hdrsRollbtn a.j-hdrbtn-down {
    margin-top: 4px;
}
.j-hdrbtn-up i {
    background: url(../image/ui.png) -55px -433px;
    width: 7px;
    height: 4px;
    display: block;
}
.j-hdrbtn-down i {
    background: url(../image/ui.png) -62px -433px;
    width: 7px;
    height: 4px;
    display: block;
}
/*banner轮播和右侧*/
#gm_main {
    position: relative;
    min-width: 1200px;
}
.slide_box {
    width: 100%;
}
.slide_box {
    height: 450px;
    position: relative;
}
.Jslide {
    height: 450px;
    width: 100%;
}
 .slide-ul li{
	opacity:0;
}
 .slide-ul li a img {
    opacity: 0;
    width: 750px;
    height: 450px;
    z-index: 999;
    
}
 .slide-ul .a2{
 	opacity: 1;
 }
.item, .slide-tab li.current em, .slide-tab li.current span {
    display: none;
}
.slide-list li, .slide-list li a {
    top: 0;
    filter: inherit;
}
.slide-ul .a1 img{
	opacity: 0;
    z-index: 1000;
}
.slide-ul .a2 img{
	opacity: 1;
    z-index: 1000;
}
.Jslide .slide-ul .a2 a img{
	opacity: 1;
	z-index: 10000000;
}
.slide-list li {
    height: 450px;
    position: absolute;
    left: 0;
    width: 100%;
}
.focus-left, .focus-right {
    height: 450px;
    width: 300px;
    position: absolute;
    top: 0;
    filter: inherit;
}
.focus-left {
    display: inline-block;
    left: 50%;
    margin-left: -900px;
}
.focus-right {
    right: 50%;
}
.slide-tab {
    height: 30px;
    bottom: 0;
}
.slide-list li a, .slide-tab {
    position: absolute;
    left: 50%;
    margin-left: -400px;
}
#slide-tab{
    z-index: 100000;
}
.slide-tab li, .slide-tab li.current {
    float: left;
    margin-right: 1px;
    display: inline-block;
    position: relative;
}
.slide-tab li, .slide-tab li span {
    width: 74px;
    cursor: pointer;
    height: 30px;
}
.slide-tab li em {
    display: block;
    height: 30px;
    background: #000;
    filter: Alpha(Opacity=20);
    opacity: .2;
}
.slide-tab li span {
    display: block;
    margin-left: 1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font: 400 12px/30px Arial;
    color: #fff;
}
.slide-tab li, .slide-tab li span {
    width: 74px;
    cursor: pointer;
    height: 30px;
}
.item {
    width: 75px;
    text-align: center;
    line-height: 29px;
    z-index: 54;
    overflow: hidden;
}
.item, .slide-tab li p {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
}
.item i {
    margin-left: 2px;
    *margin-right: 1px;
    *margin-left: 3px;
    /*background: #fff;*/
    opacity: .7;
    filter: Alpha(opacity=70);
    *margin-top: 13px;
    height: 3px;
}
.edit-mode:nth-of-type(1) .ziti{
	display: none;
}
.edit-mode:nth-of-type(1) .item{
	display: block;
	opacity: 1;
}
.item i, .item i.cur {
    display: inline-block;
    width: 28px;
    _overflow: hidden;
}
.item i{
    background: #FFF;
}
.item i.cur {
	background: #EA321D;
}
.slide-tab li p {
    opacity: 0;
    filter: Alpha(opacity=0);
    background: #ff0;
    width: 74px;
    z-index: 55;
}
.item, .slide-tab li p {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
}
.slide-tab li p b {
    display: block;
    width: 37px;
    height: 30px;
    float: left;
}
.btn, .go_l, .go_r {
    width: 50px;
    height: 104px;
    position: absolute;
}
.btn {
    left: 50%;
    top: 173px;
    z-index: 100000;
}
.pre {
    margin-left: -400px;
}
.btnbg {
    display: block;
    width: 50px;
    height: 104px;
    background: #000;
    opacity: .1;
    filter: Alpha(opacity=10);
    position: absolute;
    top: 0;
    left: 0;
}
.go_l {
    background: url(../image/uix.png) no-repeat;
/*    _background: url(../image/ui2.png) no-repeat;*/
    top: 0;
    left: 0;
    z-index: 50;
    cursor: pointer;
}
.nex {
    margin-left: 300px;
}
.go_r {
    background: url(../image/uix.png) -50px 0 no-repeat;
/*    _background: url(../image/ui2.png) -50px 0 no-repeat;*/
    z-index: 50;
    cursor: pointer;
    top: 0;
    left: 0;
}
/*banner右侧*/
.gm_sever_wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 350px;
    width: 250px;
    z-index: 100000;
}

.gm_sever {
    height: 450px;
    display: block;
    position: relative;
    background: rgba(255,255,255,0.94)
}
.gm_kuaixun, .gm_sever, .gome_news {
    width: 250px;
    overflow: hidden;
}
.gm_kuaixun, .gm_sever, .gome_news {
    width: 250px;
    overflow: hidden;
}
.gm_kuaixun {
    border-top: 1px solid #F1E5E7;
    height: 211px;
}
.gome_news {
    height: 38px;
}
.gome_news h2 {
    font-size: 14px;
    font-weight: 700;
    float: left;
    font-family: "新宋体";
    margin: 12px 0 0 20px;
    _margin: 12px 0 0 10px;
    color: #666;
}
.gome_news a {
    font-size: 12px;
    text-align: center;
    font-family: "consolas";
    margin: 10px 10px 0 0;
    color: #999;
    float: right;
}
.gome_news_content span {
    display: block;
    width: 250px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    font-family: "新宋体";
    color: #666;
}
.gome_news_content .gome_news_sort {
    color: #999;
    margin-right: 7px;
    margin-left: 20px;
    _margin-left: 10px;
    float: left;
    display: block;
    width: 24px;
    overflow: hidden;
    height: 24px;
}
.gome_news_content .gome_news_text {
    color: #666;
    display: inline-block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 175px;
}
.floor .p-list .block4 .p-name a:hover, .floor .p-list .block5 .p-name a:hover, .gome_news a:hover, .gome_news_content .red, .gome_news_content a:hover, .guess_main ul li .guess_title a:hover {
    color: #e3101e;
    text-decoration: none;
}
/*banner右侧下部*/
.icon_server_box {
    width: 250px;
    height: 230px;
    border-top: 1px solid #F1E5E7;
}
.icon_server {
    height: 222px;
    width: 238px;
    padding-left: 20px;
}
.icon_server li {
    float: left;
    width: 52.5px;
    height: 79px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.icon_server li.icon_server_li_bottom, .icon_server li.icon_server_li_bottom .icon_server_a {
    height: 80px;
}
.icon_server_li_titile {
    margin-left: 6px;
    width: 36px;
    height: 20px;
    overflow: hidden;
    display: block;
/*    font-family: "新宋体";*/
    margin-top: 5px;
}
.icon_server_li_triangle {
    border-left: 3px dashed transparent;
    border-right: 3px dashed transparent;
    border-top: 3px solid #c9c9c9;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -11px;
    *margin-left: -6px;
    position: absolute;
    top: 70px;
    width: 0;
}
.icon_server_a i, .w990 .fang {
    cursor: pointer;
}
.icon_server_a .mg-com {
    font-size: 32px;
    margin-left: -6px;
    *margin-left: -5px;
    *font-size: 30px;
    margin-top: 10px;
}
.icon_server_a i, .w990 .fang {
    cursor: pointer;
}
/*推荐图片*/
.activity {
    width: 100%;
    height: 576px;
    overflow: hidden;
}
.activity a {
    background: #fff;
}
.activity img {
    display: block;
}
.activity-left {
    width: 300px;
    height: 576px;
    position: absolute;
    left: -300px;
    top: 0;
}
.activity-right {
    width: 300px;
    height: 576px;
    position: absolute;
    right: -300px;
    top: 0;
}
.area_two {
    width: 1208px;
    height: 288px;
    overflow: hidden;
}
.imga {
    display: block;
}
.area_two .imgb {
    display: block;
    float: left;
    margin-bottom: 8px;
    width: 596px;
    height: 210px;
}
.area_two .imgb img{
    width: 596px;
    height: 210px;
}
.area_three {
    width: 1208px;
    height: 288px;
    overflow: hidden;
}
.area_three a {
    display: block;
    float: left;
    width: 294px;
    height: 140px;
    margin: 0 8px 8px 0;
    overflow: hidden;
}
/*淘购逛*/
.gm_feature {
    width: 100%;
    height: 459px;
    padding-top: 10px;
    overflow: hidden;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.gm_feature .f_m {
    position: relative;
}
.gm2015 .w {
    width: 1200px;
}
.gm_feature .f_m_c, .gm_feature .f_m_l {
    width: 420px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}
.gm_feature h2, .gm_finance h2 {
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #333;
    line-height: 38px;
    font-weight: 400;
}
.gm_feature .f_inner {
    border: 1px solid #e6e6e6;
    width: 418px;
    height: 419px;
    background: #fff;
}
.gm_feature a {
    display: block;
    float: left;

}
.gm_feature .line_dash {
    border-bottom: 1px dashed #eee;
    width: 199px;
    height: 209px;
}
.gm_feature .f_m_r {
    width: 340px;
    float: right;
    overflow: hidden;
}
.gm_feature .f_m_r .f_inner {
    width: 338px;
    overflow: hidden;
}
.gm_feature .line_dash {
    border-bottom: 1px dashed #eee;
}
.gm_feature .f_inner_l {
    width: 219px;
    float: left;
}
.gm_feature .f_brands {
    width: 119px;
    float: right;
}
.gm_feature .f_brands .f_b_inner {
    border-left: 1px solid #eee;
    height: 419px;
}
/*.gm_feature a {
    display: block;
    float: left;
}*/
.gm_feature .f_brands a {
    display: block;
    height: 59px;
    width: 118px;
    text-align: center;
    border-bottom: 1px #eee dashed;
}
/*金融*/
.gm_finance {
    height: 268px;
    padding-top: 10px;
    overflow: hidden;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.w {
    width: 1200px;
}
.gm_finance .f_c {
    height: 230px;
    width: 1199px;
    _width: 1201px;
    border-right: 1px solid #e6e6e6;
}
.gm_finance .f_m_l {
    width: 420px;
    height: 230px;
    float: left;
    position: relative;
    overflow: hidden;
}
.gm_finance .finance_entrance {
    height: 28px;
    background: #fd585e;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    padding: 0 13px;
    display: inline-block;
    position: absolute;
    left: 60px;
    bottom: 48px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    z-index: 1;
    border-radius: 2px;
}
.gm_finance .finance_entrance a {
    color: #fff;
    padding-right: 10px;
}
.gm_finance .finance_entrance span {
    display: inline-block;
    width: 6px;
    height: 11px;
    *height: 14px;
    background: url(../image/uix.png) -35px -214px no-repeat;
    _background: url(../image/uix.png) -35px -214px no-repeat;
}

.gm_finance .f_m_r {
    width: 779px;
    float: left;
    height: 228px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.gm_finance .f_m_r ul .w194{
    border: 0;
}
.gm_finance .f_m_r ul a{
    width: 194px;
    display: block;
    float: left;
    border-left: 1px dashed #EEEEEE;
}
/*猜你喜欢*/
.gm_guess {
    position: relative;
    display: none;
    margin-bottom: 30px;
}
.gm_guess_title {
    height: 44px;
}
.gm_guess_title h2 {
    font-size: 18px;
    font-family: 'microsoft yahei';
    color: #333;
    line-height: 54px;
    font-weight: 400;
    float: left;
    height: 44px;
    width: 200px;
    background: url(../image/cainixihuan.png) 62px -9px no-repeat;
    _background: url(../image/cainixihuanie6.png) 62px -9px no-repeat;
    overflow: hidden;
}
.change_btn {
    float: right;
    padding-top: 16px;
    margin-top: 3px;
    margin-right: 2px;
    cursor: pointer;
}
.change_btn .change {
    float: right;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    color: #666;
    display: inline-block;
}
.guess_main {
    width: 1198px;
    height: 212px;
    border: 1px solid #ececec;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.change_btn .guebg {
    float: right;
    display: inline-block;
    width: 10px;
    height: 15px;
    padding-right: 5px;
    background: url(../image/cainixihuan.png) -164px -27px no-repeat;
    _background: url(../image/cainixihuanie6.png) -164px -27px no-repeat;
}
.guess_left, .guess_main ul {
    width: 1188px;
    height: 198px;
    position: absolute;
    top: 0;
    left: 5px;
}
.guess_main ul li {
    width: 198px;
    float: left;
    height: 212px;
}
.guess_main ul li a img {
    display: block;
    margin: 20px 0 0 39px;
    width: 130px;
    height: 130px;
}
.guess_main ul li a .guess_title {
    width: 178px;
    height: 18px;
    overflow: hidden;
    margin-left: 19px;
    margin-top: 15px;
    color: #666;
    font-size: 12px;
    font-family: 'NSimSun';
    cursor: pointer;
    line-height: 18px;
}
.guess_main ul li .guess_price {
    color: #e3101e;
    margin-left: 19px;
    font-family: 'Arial';
    font-size: 14px;
}
.change_btn .change:hover, .elevator li.current a, .elevator li.current a span, .elevator li.hover a, .elevator li.hover a span, .guess_main ul li a .guess_title:hover {
    color: #e3101e;
}
/*1楼*/
.w {
    width: 990px;
    margin: 0 auto;
}
.floor {
    margin-bottom: 20px;
    min-height: 260px;
}
.floor-done, .lazy-fn-done {
    background: 0 0;
}
.w {
    width: 1200px;
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}
.floor .mt {
    border-bottom: 2px solid #535353;
    overflow: visible;
    _zoom: 1;
    position: relative;
    height: 34px;
}
.mtTop {
    width: 210px;
    height: 34px;
    overflow: hidden;
    float: left;
}
.floor .tab {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}
.floor h2, .floor span.h2_text, .recommend-box h2, .share h2 {
    position: relative;
    color: #333;
    float: left;
    overflow: hidden;
    font-weight: 500;
}
.floor span.h2_text {
    white-space: nowrap;
    line-height: 32px;
    font-size: 22px;
    margin-right: 5px;
}
.floor h2, .floor span.h2_text, .recommend-box h2, .share h2 {
    position: relative;
    color: #333;
    float: left;
    overflow: hidden;
    font-weight: 500;
}
.floor h2, .recommend-box h2, .share h2 {
    font-family: "microsoft yahei";
    height: 35px;
    line-height: 30px;
    font-size: 20px;
}
.floor .tab-item {
    float: left;
    display: inline;
    height: 35px;
    position: relative;
}
.floor .tab-item a {
    font-size: 14px;
    float: left;
    height: 34px;
    padding: 0 16px;
    text-decoration: none;
    line-height: 35px;
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
}

.floor .tab-selected a{
    background: #535353;
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-indent: 1px;
}
.floor .side {
    float: left;
    width: 209px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.floor .side-inner {
    position: relative;
    height: 478px;
    width: 209px;
    overflow: hidden;
}
.floor .channel, .floor .main {
    position: relative;
    overflow: hidden;
}
.floor .channel {
    font-size: 14px;
    margin: 11px 0;
    display: block;
    width: 100%;
}
.floor .channel li, .floor .words li {
    float: left;
    overflow: hidden;
    line-height: 30px;
}
.floor .channel li {
    padding: 0 0 0 20px;
    width: 70px;
}
.floor .channel li a, .floor .words a {
    white-space: nowrap;
}
.floor .words {
    position: relative;
    height: 248px;
    padding-top: 10px;
}
.floor .words li {
    width: 66px;
    padding-left: 20px;
}
.floor .channel li a, .floor .words a {
    white-space: nowrap;
}
.floor .words a {
    float: left;
    color: #999;
}
.floor .channel li a:hover, .floor .words a:hover {
    color: #e3101e;
    text-decoration: none;
}
.floor .words a.red {
    color: #e3101e;
}
/*1楼右侧*/
.floor .channel, .floor .main {
    position: relative;
    overflow: hidden;
}
.floor .main {
    float: left;
    height: 479px;
}
.floor .main {
    width: 991px;
    background: #fff;
}
.floor .main .main-inner {
    border-left: 1px solid #eee;
}
.floor .main-body {
    width: 990px;
    height: 478px;
}
.floor .main-body li {
    float: left;
    overflow: hidden;
    font-size: 0;
}
.template01 li.block0 {
    width: 0;
    padding-left: 570px;
    height: 260px;
}
.floor li.block2 {
    width: 210px;
    height: 260px;
}
.floor li.block3 {
    width: 210px;
    height: 219px;
}
.floor .main-body li a {
    display: block;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.floor img {
    vertical-align: top;
}
.main li img:hover, .mainArea img:hover, .promo a img:hover, .side img:hover {
    opacity: .9;
    filter: Alpha(opacity=90);
}
.share .slider, .slider {
    position: absolute;
    top: 0;
    overflow: hidden;
}
.slider {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    left: 1px;
    width: 569px;
    height: 259px;
}
.floor .slider-panel {
    width: 569px;
}
.slider .slider-body li {
    float: left;
    display: inline-block;
}
.slider .slider-body .slider-main li{
    position: absolute;
    top: 0;
    left: 0;
}
.slider-nav {
    position: absolute;
    z-index: 99;
}
.slider .slider-nav, .template02 .slider .slider-nav {
    width: 100%;
    line-height: 0;
    text-align: center;
    top: 226px;
    cursor: default;
}
.slider .slider-nav ul {
    height: 0;
    line-height: 0;
}
.slider-nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 33px;
    height: 30px;
    margin: 0 2px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
.slider-nav li {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.slider-item-i {
    width: 33px;
    height: 3px;
    background: #3e3e3e;
    margin: 15px 0;
    overflow: hidden;
}
.slider-nav li.slider-selected .slider-item-i {
    background: #b61b1f;
    color: #fff;
}
.slider-prev {
    left: 0;
}
.slider-page a {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 1;
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: rgba(0,0,0,.2);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: "simsun";
}
.slider-next {
    right: 0;
}
.slider .slider-item, .slider .slider-page a {
    border: none;
}
.slider-page a {
    line-height: 62px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: "simsun";
}
.next-arrow-span, .prev-arrow-span {
    display: block;
    width: 28px;
    height: 62px;
    background: url(../image/uix.png) -50px -146px no-repeat;
    _background: url(../image/uix.png) -50px -146px no-repeat;
}
.next-arrow-span {
    background-position: -78px -146px;
}
/*选项卡*/
.floor .channel, .floor .main {
    position: relative;
    overflow: hidden;
}
.floor .main {
    float: left;
    height: 479px;
}
.floor .main {
    width: 991px;
    background: #fff;
}
.floor .p-list {
    float: left;
    height: 479px;
    overflow: hidden;
    border-left: 1px solid #eee;
}
.floor .p-list {
    width: 990px;
}
.floor li.block4 {
    width: 197px;
    height: 259px;
}
.floor .p-list li {
    float: left;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    overflow: hidden;
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}
.floor .p-list .block4 .p-img {
    height: 150px;
    margin-bottom: 4px;
    text-align: center;
    padding-top: 20px;
}
.floor .p-list .block4 .p-name {
    height: 20px;
    margin: 5px 10px 5px;
}
.floor .p-list .block4 .p-price {
    font-size: 12px;
    word-break: break-all;
    overflow: hidden;
    white-space: normal;
    font-weight: 700;
    height: 50px;
    font-family: "arial";
    color: #e4393c;
    margin: 0 10px;
}
.floor li.block5 {
    width: 197px;
    height: 218px;
}
.floor .p-list .block5 .p-img {
    height: 130px;
    margin-bottom: 4px;
    text-align: center;
    padding-top: 10px;
}
.floor .p-list .block5 .p-name {
    height: 20px;
    margin: 10px 20px 5px;
}
.floor .p-list .block5 .p-price {
    font-size: 12px;
    word-break: break-all;
    overflow: hidden;
    font-weight: 700;
    white-space: normal;
    height: 50px;
    font-family: "arial";
    color: #e4393c;
    margin: 0 20px;
}

.floor .p-list .p-price span {
    /*display: block;*/
    height: 16px;
    width: 158px;
    font-size: 16px;
/*    overflow: hidden;*/
    word-break: break-all;
}
.floor  .p-price .clearfix .p_parity {
    /*float: left;*/
    width: auto;
    height: 24px;
    padding-top: 3px;
    color: #666;
    font-size: 8px;
    font-weight: normal;
}
.floor1 .p-price .p_time {
   /* line-height: 14px;*/
    color: #666;
    font-size: 1px;
    font-weight: normal;
    width: 165px;
}
/*1楼底部*/
.brands {
    background: #fafafa;
    width: 1200px;
    height: 60px;
}
.brands-nex, .brands-pre {
    display: block;
    width: 20px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.brands-all {
    width: 1160px;
    height: 30px;
    float: left;
    top: 15px;
    position: relative;
}
.brands-all ul {
    width: 1160px;
    height: 30px;
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.brands li {
    float: left;
    width: 116px;
    height: 30px;
    text-align: center;
}
/*跳楼*/
.elevator {
    width: 66px;
    overflow: hidden;
    background: #fff;
    /*display: none;*/
}
#elevator{
    z-index: 300; 
    position: fixed; 
    left: 3px; 
    top: 156px; 
    display: block;
}
.elevator .fl_nav, .elevator li {
    width: 64px;
    border: 1px solid #e6e6e6;
    text-align: center;
}
.elevator .fl_nav {
    background: #f6f6f6;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    line-height: 31px;
}
.elevator li {
    position: relative;
    height: 43px;
    line-height: 5px;
    border-top: none;
    cursor: pointer;
}
.elevator li a {
    overflow: hidden;
    display: inline-block;
    width: 64px;
    height: 43px;
    font-size: 12px;
    color: #5e5e5e;
}
.elevator li a:hover{
    color: #E3101E;

}
.elevator li a span:hover{
    color: #E3101E;
}
.elevator ul .handler:hover{
    color: #E3101E;
}
.elevator li a span {
    font-family: Arial;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    color: #777;
    padding-top: 8px;
    padding-bottom: 1px;
    cursor: pointer;
}
.elevator li a p {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    cursor: pointer;
}
.elevator li b {
    *float: left;
    left: -1px;
    top: -1px;
    position: absolute;
    *position: static;
    *margin-left: -1px;
    *margin-top: -1px;
    width: 0;
    height: 0;
    border-top: 5px solid red;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid red;
    z-index: 2;
    display: none;
}
.elevator li.current b, .show {
    /*display: block;*/
}
.elevator ul {
    width: 66px;
    overflow: hidden;
}
.elevator .fl_goto li {
    height: 29px;
    text-align: center;
}
.elevator .fl_goto .flTop a, .elevator .fl_goto .fl_bottom a {
    display: inline-block;
    width: 17px;
    height: 9px;
    background: url(../image/uix.png) -18px -222px no-repeat;
    margin-top: 10px;
}
.elevator .fl_goto .fl_bottom a {
    background: url(../image/uix.png) no-repeat -18px -214px;
}
/*右侧*/
#gome-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    _position: absolute;
    z-index: 99999999999999999;
}
.gome-aside {
    background: transparent none repeat ;
    position: absolute;
    bottom: 35px;
    right: 0;
    width: 35px;
    color: #999;
    font-size: 12px;
    z-index: 999;
}
.gome-aside li {
    position: relative;
    text-align: center;
    height: 38px;
}
.gome-aside li.lang {
    height: 120px;
}
.gome-aside b, .gome-aside i {
    background: url(../image/ui.png) -47px -464px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.gome-aside b {
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -6px;
    width: 5px;
    height: 9px;
    display: inline-block;
    _display: none;
}
.gome-aside a {
    display: inline-block;
    width: 100%;
    background: #5c5c5c;
    padding: 9px 0;
    height: 20px;
    color: #999;
    cursor: pointer;
    /*overflow: hidden;*/
    z-index: 2;
    position: relative;
}

#gome-aside-cart a.lang {
    height: 100px;
    padding: 20px 0 0;
    *height: 90px;
    *padding-top: 30px;
    text-align: center;
    position: relative;
    background-image: url(../image/uiline.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.caricon {
    background: url(../image/ui.png) no-repeat -24px -1046px !important;
    position: relative;
    height: 20px;
    width: 31px;
    display: block !important;
    margin-bottom: 3px;
}
.gome-aside b, .gome-aside i {
    background: url(../image/ui.png) -47px -464px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
#gome-aside-cart .lang i.caricon {
    width: 30px;
    height: 24px;
    margin-top: 5px;
    *margin: 0 5px 5px 0;
}
.car_num {
    background: #e9404b;
    width: 18px !important;
    height: 16px !important;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 14px;
    top: 9px;
}
#gome-aside-cart b.car_num {
    background: #e9404b;
    top: 17px;
    *top: 22px;
    left: 14px;
    color: #fff;
}
#gome-bar-border b.car_num_0, #gome-aside-cart b.car_num_0 {
    background: #a3a3a3;
    
}
#gome-aside-cart b.car_num{
    background: rgb(165, 165, 165) none repeat ;
}

#gome-bar-border-tab .gome-bar-btn-cart .point, #gome-aside-cart .point {
    background: url(../image/ui.png) no-repeat 0 -1095px;
    width: 5px;
    height: 6px;
    position: absolute;
    left: 6px;
    top: 14px;
    display: inline-block;
}
#gome-bar-border b.car_num_0 .point, #gome-aside-cart b.car_num_0 .point, .gome-bar-btn-cart b.car_num_0 .point {
    background-position: 0 -1087px;
}
.gome-bar-btn-cart .text, #gome-aside-cart .lang .text {
    width: 12px;
    display: inline-block;
    color: #fff;
}
#gome-aside-app i {
    background-position: -212px -473px;
}
.gome-aside div {
    position: absolute;
    right: -45px;
    top: 0;
    width: 60px;
    border: 1px solid #e6e6e6;
    padding: 9px 10px;
    background: #fff;
    /*overflow: hidden;*/

    display: block;
    /*display: none;*/
    z-index: 1;
}
.gome-aside #te{
    position: absolute;
    right: -145px;
    top: 0;
    border: 0;
    width: 140px;
    height: 180px;
    margin: 0;
    padding: 0;
}
#gome-aside-survey i {
    background-position: -212px -493px;
}

.gome-aside div a {
    display: block;
    background: #fff;
    padding: 0;
    height: auto;
    height: 18px;
    line-height: 18px;
}
#gome-aside-service i {
    color: #c00;
    background-position: -212px -513px;
}

#gome-aside-backtop i {
    background-position: -212px -533px;
}

#gome-aside-app-code {
    position: absolute;
    right: 34px;
    bottom: 40px;
    width: 140px;
    border: 1px solid #e6e6e6;
    padding: 0;
    background: #fff;
    /*overflow: hidden;*/

    display: block;
   /* display: none;*/
    z-index: 9999;

}
#gome-aside-app-code img {
    width: 140px;
    height: 180px;
}
#gome-bar-box {
    position: fixed;
    top: 0;
    right: 0px;
    width: 240px;
    height: 100%;
    _position: absolute;
    background: #f8f8f8;
    box-shadow: 0 0 18px rgba(0,0,0,.09);
    z-index: 5;
    display: none;
}
.gome-bar-box-wrap {
    position: absolute;
    width: 239px;
    height: 100%;
    top: 0;
    right: 35px;
    z-index: 995;
    border-left: 1px solid #e6e6e6;
    background: #fff;
    display: none;
    /*overflow: hidden;
    visibility: hidden;*/
}
#gome-bar-box h3 {
    height: 30px;
    position: relative;
    font-size: 100%;
}
#gome-bar-box h3 span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 0;
    background: url(../image/ui.png) -20px -553px;
    cursor: pointer;
    margin-left: 26px;
}
.gome-bar-box-body {
    position: relative;
}
.gome-bar-box-loading {
    position: absolute;
    width: 80%;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}
#gome-bar-favorites .gome-bar-title {
    left: 28px;
    display: inline-block;
    width: auto;
    color: #666;
    margin-left: 0;
    background: 0 0;
    cursor: none;
}
#gome-bar-favorites .gome-bar-box-loading {
    width: 100%;
}
#gome-bar-favorites .favorites-tab {
    height: 40px;
    width: 239px;
}
#gome-bar-favorites .tab-item {
    float: left;
    width: 79px;
    height: 26px;
    padding-top: 12px;
    font-size: 14px;
    text-align: center;
    color: #333;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-right: 0;
}
#gome-bar-favorites .tab-item.tab-item-goods {
    border-left: 0;
}

#gome-bar-favorites .tab-item.selected {
    height: 25px;
    color: #e3101e;
    border-bottom: 2px solid #e3101e;
}
#gome-bar-border {
    position: relative;
    display: block; 
    top: 145px;
    width: 35px;
    height: 100%;
    top: 0;
    right: 0;
    background: #5c5c5c;
    z-index: 998;
}
#gome-bar-border ul {
    position: absolute;
    right: 0;
}
#gome-bar-border-tab {
    width: 35px;
    top: 300px;
}
.gome-bar-btn-member {
    text-align: center;
    line-height: 42px;
}
#gome-bar-border li {
    cursor: pointer;
    position: relative;
}
#gome-bar-border-tab li {
    height: 36px;
}
#gome-bar-border-tab li {
    background: url(../image/uiline.png) no-repeat center bottom;
}
#gome-bar-border-tab li.gome-bar-btn-member {
    height: 39px;
    line-height: 39px;
}
.gome-bar-btn-member .membericon {
    background: url(../image/ui.png) no-repeat -18px -1025px;
    display: inline-block;
    width: 28px;
    height: 18px;
    margin-top: 9px;
}
#gome-bar-btn-cart{
    color: #fff;
    height: 90px !important;
    padding-top: 30px;
    text-align: center;
}
.gome-bar-btn-favorites .favorites-icon {
    background: url(../image/ui.png) no-repeat -71px -1023px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
}








